
<form class="login-form">    
  <div class="hero-body">
            <div class="container">
                <div class="columns is-centered">
                    <div>
                        <form action="" class="box">
                            <div class="field">
                                <h1>Log In</h1>
                                <label for="username-login" class="label">Username</label>
                                <div class="control has-icons-left">
                                    <input type="text" id="username-login" placeholder="e.g. bobsmith" class="input" required>
                                </div>
                            </div>
                            <div class="field">
                                <label for="password-login" class="label">Password</label>
                                <div class="control has-icons-left">
                                    <input type="password" id="password-login" placeholder="*******" class="input" required>
                                </div>
                            </div>
                            <div class="field">
                                <button class="button" type="submit"><span class="button-title">Login</span></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
</form>
<form class="signup-form">
  <div class="hero-body">
            <div class="container">
                <div class="columns is-centered">
                    <div class="column is-5-tablet is-4-desktop is-3-widescreen">
                        <form action="" class="box">
                            <div class="field">
                                <h1>Sign Up</h1>
                                <label for="username-signup" class="label">Username</label>
                                <div class="control has-icons-left">
                                    <input type="text" id="username-signup" placeholder="e.g. bobsmith" class="input" required>
                                    <span class="icon is-small is-left">
                                        <i class="fa fa-envelope"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="field">
                                <label for="password-signup" class="label">Password</label>
                                <div class="control has-icons-left">
                                    <input type="password" id="password-signup" placeholder="*******" class="input" required>
                                </div>
                            </div>                            
                            <div class="field">
                                <button class="button" type="submit"><span class="button-title">Create Account</span></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
</form>

<script src="/javascript/login.js"></script>
