<div class="review-section has-text-light is-size-4">
   <div class="is-size-2 is-underlined"><h2>List of Whiskeys</h2></div>
   <article class="post">
      <div class="reivew-lists is-size-3">
         <a>{{post.name}}:</a>
      </div>
   </article>

   <div class="reviews">
      {{#each post.reviews}}
         <section>
            <div>
               {{user.username}}
               on
               {{format_date created_at}}
            </div>
            <div class="text">
               {{review_text}}
            </div>
         </section>
      {{/each}}
   </div>

   {{#if loggedIn}}
      <form class="review-form">
         <div>
            <textarea class="input is-large" name="review-body"></textarea>
         </div>

         <div>
            <button id="new-review-bttn" class="button is-success is-large" type="submit">Create New Review</button>
         </div>
      </form>
   {{/if}}
   {{#if loggedIn}}
      <script src="/javascript/review.js"></script>
   {{/if}}

</div>