<article class="post">
  <div>
    <a>{{post.name}}</a>
  </div>
</article>

<div class="reviews">
  {{#each post.reviews}}
  <section>
    <div>
      {{user.username}} on {{format_date created_at}}
    </div>
    <div class="text">
      {{review_text}}
    </div>
  </section>
  {{/each}}
</div>

{{#if loggedIn}}
<form class="review-form">
  <div>
    <textarea name="review-body"></textarea>
  </div>

  <div>
    <button type="submit">Create New Review</button>
  </div>
</form>
{{/if}}
{{#if loggedIn}}
<script src="/javascript/review.js"></script>
{{/if}}