@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

html {
   background: url(../assets/images/wood.jpg) no-repeat center center fixed;
   background-size: cover;
}

#title {
   font-size: 5vw;
   font-family: 'Lobster', 'cursive';
   color: antiquewhite;
}

.navbar {
   background-color: transparent;
}

.button {
   color: antiquewhite;
}

.button-title {
   color: rgb(26, 13, 0);
   font-weight: bold;
}

.login-form {
   padding-top: 3em;
}

h1 {
   font-size: 2em;
   color: antiquewhite;
   font-weight: bold;
   font-family: 'Roboto Slab';
}

.label {
   color: antiquewhite;
}

ul {
   padding-top: 2em;
   padding-left: 5em;
}

li {
   font-family: 'Roboto Slab';
}

.whiskey {
   color: antiquewhite;
   font-size: 2vw;
}

h2 {
   font-family: 'Roboto Slab';
   color: antiquewhite;
   font-weight: bold;
   font-size: 2vw;
}

.previous {
   padding: 7em;
}

.new {
   padding: 7em;
}

.review-section {
   padding: 5em;
}

.single-review {
   font-family: 'Roboto Slab';
   border: 2px solid antiquewhite;
   border-radius: 5px;
   color: antiquewhite;
   font-size: 2vw;
   padding: 3vw; 
   font-weight: bold;
}
.single-review-name {
   font-family: 'Roboto Slab';
   color: antiquewhite;
   font-weight: bold;
   font-size: 3vw;
}

.opaque {
   background-color: rgb(153, 102, 51);
   opacity: 0.5;
}